/*single elements*/
* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color:lightcyan;
}

div {
    padding: 5px;
}

/*multiple elements*/
h1, h2, th {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*classes*/
div.clearfloat {
    clear: both;
}

div.flexbox {
    background-color: beige;
}

div.flexcolumn {
    border-color: grey;
    border-style: dotted;
    border-width: 1px;
    display: flex;
    flex-direction: column;
}

div.flexrow {
    display: flex;
    flex-direction: row;
}

img.floatright {
    float: right;
}

img.border {
    border: solid thin grey;
}

small.copyright {
    color: rgb(128,128,128);
}